<div class="p-3 mb-2">
<p><strong><%=params[:answer]%></strong></p>
<p>-You</p>
</div>
<div class="p-3 mb-2 bg-warning text-dark">
<p><strong><%=@comment%></strong></p>
<p>-Your Stupid Coach</p>
</div>
