<form action="/answer" method="get" data-turbo="false">
  <div class="form-group">
  <p>Ask your coach anything:</p>
  <input type="text" name="answer">
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
  </div>
</form>
